
{% extends "base.html" %}

{% block title %} MarketDial FleetCommander™{% endblock %}

{% block content %}

<h2 class="mt-2 text-[36px] font-medium text-[#212121]">Enter store name to find locations:</h2>

    <!-- Search Form -->
    <form id="search-form">
        <label class="mt-2 text-[24px] font-medium text-[#212121]">Store Name:</label>
        <input id="location-name" name="name" size="32" value="Harmons" class="border-4 border-indigo mt-2 text-[24px] font-medium text-[#212121]" required/>
        <!-- <select id="store-type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select> -->
        <select id="store-type" class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-[16px] px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900"></select>
        <button onclick="searchLocation()" type=button class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-[16px] px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">Show Locations</button>
    </form>

    <!-- Map container -->
    <div id="map"></div>
    <p id="status" class="mt-2 text-[24px] font-medium text-[#212121]">No stores found yet.</p>

    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <script>
        // Initialize the map centered on the world
        var map = L.map('map').setView([20, 0], 2);

        // Load OpenStreetMap tiles
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        function getRandomColor() {
          const letters = '0123456789ABCDEF';
          let color = '#';
          for (let i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
          }
          return color;
        }

                // Store types and counts
        const storeTypes = [
            { type_name: '(all store types)', num_stores: 7367251},
            {"type_name":"(restaurant, cafe, bar, etc.)","num_stores":2447412},
            {"type_name":"supermarket","num_stores":415222},
            {"type_name":"clothes","num_stores":313566},
            {"type_name":"hairdresser","num_stores":255041},
            {"type_name":"car_repair","num_stores":202747},
            {"type_name":"convenience","num_stores":611070},
            {"type_name":"bakery","num_stores":198613},
            {"type_name":"yes","num_stores":174639},
            {"type_name":"car","num_stores":124223},
            {"type_name":"beauty","num_stores":99211},
            {"type_name":"kiosk","num_stores":84345},
            {"type_name":"butcher","num_stores":78900},
            {"type_name":"hardware","num_stores":78419},
            {"type_name":"furniture","num_stores":74093},
            {"type_name":"mobile_phone","num_stores":71905},
            {"type_name":"car_parts","num_stores":66862},
            {"type_name":"electronics","num_stores":65808},
            {"type_name":"florist","num_stores":65696},
            {"type_name":"alcohol","num_stores":65260},
            {"type_name":"shoes","num_stores":63041},
            {"type_name":"mall","num_stores":61311},
            {"type_name":"doityourself","num_stores":55513},
            {"type_name":"variety_store","num_stores":54702},
            {"type_name":"optician","num_stores":54520},
            {"type_name":"jewelry","num_stores":52933},
            {"type_name":"gift","num_stores":50554},
            {"type_name":"greengrocer","num_stores":47522},
            {"type_name":"books","num_stores":46266},
            {"type_name":"department_store","num_stores":46177},
            {"type_name":"bicycle","num_stores":45372},
            {"type_name":"travel_agency","num_stores":40049},
            {"type_name":"chemist","num_stores":37879},
            {"type_name":"sports","num_stores":36135},
            {"type_name":"laundry","num_stores":35805},
            {"type_name":"stationery","num_stores":32861},
            {"type_name":"confectionery","num_stores":32858},
            {"type_name":"pet","num_stores":32425},
            {"type_name":"computer","num_stores":29671},
            {"type_name":"vacant","num_stores":29370},
            {"type_name":"tyres","num_stores":27034},
            {"type_name":"beverages","num_stores":26279},
            {"type_name":"newsagent","num_stores":26011},
            {"type_name":"dry_cleaning","num_stores":25628},
            {"type_name":"cosmetics","num_stores":24238},
            {"type_name":"motorcycle","num_stores":23820},
            {"type_name":"garden_centre","num_stores":22510},
            {"type_name":"funeral_directors","num_stores":22406},
            {"type_name":"copyshop","num_stores":22103},
            {"type_name":"tailor","num_stores":21054},
            {"type_name":"tobacco","num_stores":20367},
            {"type_name":"farm","num_stores":19740},
            {"type_name":"toys","num_stores":19521},
            {"type_name":"deli","num_stores":18139},
            {"type_name":"interior_decoration","num_stores":17864},
            {"type_name":"storage_rental","num_stores":17561},
            {"type_name":"seafood","num_stores":17537},
            {"type_name":"trade","num_stores":17163},
            {"type_name":"massage","num_stores":17110},
            {"type_name":"ticket","num_stores":16864},
            {"type_name":"houseware","num_stores":15328},
            {"type_name":"pastry","num_stores":14869},
            {"type_name":"photo","num_stores":14303},
            {"type_name":"wine","num_stores":13960},
            {"type_name":"general","num_stores":12998},
            {"type_name":"outdoor","num_stores":12971},
            {"type_name":"paint","num_stores":12431},
            {"type_name":"bookmaker","num_stores":12120},
            {"type_name":"outpost","num_stores":12079},
            {"type_name":"art","num_stores":12055},
            {"type_name":"charity","num_stores":11529},
            {"type_name":"pawnbroker","num_stores":11298},
            {"type_name":"second_hand","num_stores":10940},
            {"type_name":"boutique","num_stores":10803},
            {"type_name":"medical_supply","num_stores":10714},
            {"type_name":"tattoo","num_stores":10632},
            {"type_name":"kitchen","num_stores":10608},
            {"type_name":"fabric","num_stores":10567},
            {"type_name":"bed","num_stores":10253},
            {"type_name":"lottery","num_stores":9733},
            {"type_name":"antiques","num_stores":9095},
            {"type_name":"wholesale","num_stores":8449},
            {"type_name":"craft","num_stores":8295},
            {"type_name":"coffee","num_stores":7592},
            {"type_name":"gas","num_stores":7460},
            {"type_name":"perfumery","num_stores":6685},
            {"type_name":"hearing_aids","num_stores":6479},
            {"type_name":"tea","num_stores":6474},
            {"type_name":"musical_instrument","num_stores":6273},
            {"type_name":"baby_goods","num_stores":6223},
            {"type_name":"music","num_stores":6207},
            {"type_name":"e-cigarette","num_stores":5951},
            {"type_name":"bag","num_stores":5714},
            {"type_name":"agrarian","num_stores":5430},
            {"type_name":"carpet","num_stores":5313},
            {"type_name":"money_lender","num_stores":5307},
            {"type_name":"hifi","num_stores":5168},
            {"type_name":"appliance","num_stores":5158},
            {"type_name":"video_games","num_stores":4944},
            {"type_name":"dairy","num_stores":4837},
            {"type_name":"video","num_stores":4505},
            {"type_name":"electrical","num_stores":4488},
            {"type_name":"cheese","num_stores":4487},
            {"type_name":"motorcycle_repair","num_stores":4465},
            {"type_name":"chocolate","num_stores":4436},
            {"type_name":"locksmith","num_stores":3904},
            {"type_name":"estate_agent","num_stores":3883},
            {"type_name":"nutrition_supplements","num_stores":3866},
            {"type_name":"curtain","num_stores":3829},
            {"type_name":"fishing","num_stores":3815},
            {"type_name":"bathroom_furnishing","num_stores":3809},
            {"type_name":"health_food","num_stores":3663},
            {"type_name":"erotic","num_stores":3653},
            {"type_name":"grocery","num_stores":3543},
            {"type_name":"pet_grooming","num_stores":3330},
            {"type_name":"convenience;gas","num_stores":3328},
            {"type_name":"frame","num_stores":3313},
            {"type_name":"watches","num_stores":3307},
            {"type_name":"no","num_stores":3020},
            {"type_name":"herbalist","num_stores":2987},
            {"type_name":"sewing","num_stores":2971},
            {"type_name":"rental","num_stores":2690},
            {"type_name":"frozen_food","num_stores":2633},
            {"type_name":"fashion_accessories","num_stores":2592},
            {"type_name":"lighting","num_stores":2479},
            {"type_name":"food","num_stores":2426},
            {"type_name":"tiles","num_stores":2390},
            {"type_name":"fashion","num_stores":2359},
            {"type_name":"religion","num_stores":2301},
            {"type_name":"party","num_stores":2274},
            {"type_name":"cannabis","num_stores":2266},
            {"type_name":"ice_cream","num_stores":2148},
            {"type_name":"leather","num_stores":2092},
            {"type_name":"water","num_stores":2028},
            {"type_name":"radiotechnics","num_stores":1983},
            {"type_name":"weapons","num_stores":1891},
            {"type_name":"shoe_repair","num_stores":1874},
            {"type_name":"flooring","num_stores":1851},
            {"type_name":"hairdresser_supply","num_stores":1772},
            {"type_name":"doors","num_stores":1764},
            {"type_name":"glaziery","num_stores":1724},
            {"type_name":"swimming_pool","num_stores":1582},
            {"type_name":"country_store","num_stores":1579},
            {"type_name":"scuba_diving","num_stores":1520},
            {"type_name":"boat","num_stores":1394},
            {"type_name":"window_blind","num_stores":1340},
            {"type_name":"fireplace","num_stores":1336},
            {"type_name":"games","num_stores":1334},
            {"type_name":"telecommunication","num_stores":1191},
            {"type_name":"fuel","num_stores":1176},
            {"type_name":"printing","num_stores":1085},
            {"type_name":"caravan","num_stores":1084},
            {"type_name":"photo_studio","num_stores":1014},
            {"type_name":"pyrotechnics","num_stores":927},
            {"type_name":"building_materials","num_stores":890},
            {"type_name":"hobby","num_stores":885},
            {"type_name":"vacuum_cleaner","num_stores":864},
            {"type_name":"spices","num_stores":844},
            {"type_name":"hunting","num_stores":830},
            {"type_name":"pottery","num_stores":810},
            {"type_name":"tool_hire","num_stores":741},
            {"type_name":"model","num_stores":661},
            {"type_name":"catalogue","num_stores":629},
            {"type_name":"candles","num_stores":599},
            {"type_name":"printer_ink","num_stores":595},
            {"type_name":"collector","num_stores":588},
            {"type_name":"security","num_stores":587},
            {"type_name":"camera","num_stores":583},
            {"type_name":"pasta","num_stores":574},
            {"type_name":"water_sports","num_stores":572},
            {"type_name":"insurance","num_stores":498},
            {"type_name":"household_linen","num_stores":452},
            {"type_name":"haberdashery","num_stores":410},
            {"type_name":"accessories","num_stores":399},
            {"type_name":"energy","num_stores":390},
            {"type_name":"honey","num_stores":369},
            {"type_name":"repair","num_stores":366},
            {"type_name":"motorcycle_parts","num_stores":343},
            {"type_name":"power_tools","num_stores":338},
            {"type_name":"anime","num_stores":329},
            {"type_name":"furnace","num_stores":324},
            {"type_name":"lamps","num_stores":323},
            {"type_name":"shopping_centre","num_stores":323},
            {"type_name":"trophy","num_stores":321},
            {"type_name":"shop","num_stores":311},
            {"type_name":"household","num_stores":306},
            {"type_name":"rice","num_stores":302},
            {"type_name":"organic","num_stores":277},
            {"type_name":"office_supplies","num_stores":274},
            {"type_name":"fishmonger","num_stores":266},
            {"type_name":"wool","num_stores":261},
            {"type_name":"ski","num_stores":254},
            {"type_name":"groundskeeping","num_stores":242},
            {"type_name":"marketplace","num_stores":241},
            {"type_name":"garden_furniture","num_stores":230},
            {"type_name":"military_surplus","num_stores":217},
            {"type_name":"hvac","num_stores":216},
            {"type_name":"general_store","num_stores":215},
            {"type_name":"wood","num_stores":207},
            {"type_name":"souvenir","num_stores":202},
            {"type_name":"market","num_stores":200},
            {"type_name":"discount","num_stores":194},
            {"type_name":"nuts","num_stores":191},
            {"type_name":"brewing_supplies","num_stores":184},
            {"type_name":"winery","num_stores":179},
            {"type_name":"wigs","num_stores":177},
            {"type_name":"health","num_stores":168},
            {"type_name":"golf","num_stores":168},
            {"type_name":"psychic","num_stores":163},
            {"type_name":"truck","num_stores":163},
            {"type_name":"wedding","num_stores":157},
            {"type_name":"salon","num_stores":156},
            {"type_name":"other","num_stores":155},
            {"type_name":"construction","num_stores":155},
            {"type_name":"tableware","num_stores":154},
            {"type_name":"bathroom","num_stores":154},
            {"type_name":"truck_repair","num_stores":152},
            {"type_name":"signs","num_stores":150},
            {"type_name":"disused","num_stores":149},
            {"type_name":"communication","num_stores":148},
            {"type_name":"plumbing","num_stores":148},
            {"type_name":"equestrian","num_stores":143},
            {"type_name":"ship_chandler","num_stores":140},
            {"type_name":"windows","num_stores":135},
            {"type_name":"plumber","num_stores":135},
            {"type_name":"glass","num_stores":134},
            {"type_name":"bridal","num_stores":130},
            {"type_name":"retail","num_stores":126},
            {"type_name":"photography","num_stores":121},
            {"type_name":"medical","num_stores":121},
            {"type_name":"fireworks","num_stores":119},
            {"type_name":"surf","num_stores":119},
            {"type_name":"shipping","num_stores":116},
            {"type_name":"stationary","num_stores":116},
            {"type_name":"scooter","num_stores":116},
            {"type_name":"money_transfer","num_stores":113},
            {"type_name":"unknown","num_stores":110},
            {"type_name":"builder","num_stores":108},
            {"type_name":"hookah","num_stores":107},
            {"type_name":"chandler","num_stores":107},
            {"type_name":"trailer","num_stores":106},
            {"type_name":"jewellery","num_stores":105},
            {"type_name":"auction","num_stores":104},
            {"type_name":"mobility","num_stores":104},
            {"type_name":"watch","num_stores":102},
            {"type_name":"hat","num_stores":100}
        ];

      const storeTypeSelect = document.getElementById('store-type');
        storeTypes.forEach(type => {
            const option = document.createElement('option');
            option.value = type.type_name; // Set value to the type name
            option.textContent = `${type.type_name.charAt(0).toUpperCase() + type.type_name.slice(1)} (${type.num_stores})`; // Formatted label
            storeTypeSelect.appendChild(option);
        });

        function searchLocation() {
            var locationName = document.getElementById("location-name").value;
            var storeType = storeTypeSelect.value; // Get selected store type (name)

            // Check if storeType is correctly retrieved
            console.log("Selected store type:", storeType);
            var markerColor = getRandomColor();

            // Fetch coordinates from the /search endpoint
            fetch(`/search?name=${encodeURIComponent(locationName)}&type=${storeType}`)
                .then(response => response.json())
                .then(data => {
                    var coordinatesArray = data.coordinates;

                    // Check if we received an array of coordinates
                    if (Array.isArray(coordinatesArray) && coordinatesArray.length > 0) {
                        // Loop through each coordinate in the array
                        coordinatesArray.forEach(function(coordinates) {
                            if (coordinates && coordinates.lat && coordinates.lng) {
                                // Add marker to world map
                        var popupContent = `
                            <b>${coordinates.name}</b><br>
                            <i>${coordinates.type}</i><br>
                            <p>${coordinates.address}</p>
                        `;

                        // Add marker to map with the custom popup
                        L.circleMarker([coordinates.lat, coordinates.lng], {
            radius: 8, // Size of the marker
            fillColor: markerColor, // Marker fill color
            color: "#000", // Marker border color
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8 // Opacity of the fill color
        }).addTo(map)
                            .bindPopup(popupContent)
                            .openPopup();

                                // Center world map on the first location
                                map.setView([coordinatesArray[0].lat, coordinatesArray[0].lng], 4);
                            }
                            const statusText = document.getElementById('status');
                            statusText.textContent = 'Found ' + coordinatesArray.length + ' ' + locationName + ' stores';

                        });
                    } else {
                        alert("No locations found.");
                    }
                })
                .catch(error => {
                    console.error("Error fetching data:", error);
                    alert("An error occurred while searching for the locations: " + error);
                });
        }    </script>

{% endblock %}